@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center mt-5">Iniciar Sesión</h2>

<form method="post" asp-action="Login">
    <div class="d-flex justify-content-center mt-5">
        <div class="card text-center p-5 text-white rounded-4" style="width: 600px; background-color: #5B102D">
            <div>
                <p class="text-start">Correo:</p>
                <input class="form-control" type="email" name="correo" required placeholder="usuario@correo.com" />
            </div>
            <div class="mt-3">
                <p class="text-start">Contraseña:</p>
                <input class="form-control" type="password" name="contrasena" placeholder="********" required />
            </div>
            <button type="submit" class="btn btn-login mt-4">Ingresar</button>
        </div>
    </div>

</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
